In [ ]:
# valid variables and invalid variables

name = 'Anuurag'
# 12gender = 'M'
# @address = '123 Park Street'
_fname = 'Umesh'
gen12der = 'M'
print(name, _fname, gen12der)
last@name = 'Peter'

SyntaxError: ignored

#**Wednesday August 09, 2023**

#**Python Data Type**

      1. Standard Data Type
        1. Numbers
          1. Integer
          2. Float
          3. Complex
        2. Boolean
        3. String
      2. Data Structure Data Type
        1. List
        2. Tuple
        3. Set
        4. Dictionary

In [ ]:
# Integer : Any whole number (+ve or -ve) is called as integer

int1 = 1947
print(int1)
print(type(int1))

int1 = -1947
print(int1)
print(type(int1))

1947
<class 'int'>
-1947
<class 'int'>

In [ ]:
# Float : Any combination of whole number and fractional number (+ve or -ve) is called as float.

flt1 = 3.1415
print(flt1)
print(type(flt1))

flt1 = -3.1415
print(flt1)
print(type(flt1))

3.1415
<class 'float'>
-3.1415
<class 'float'>

In [ ]:
# Complex : Combination of integer or float and imagenary number (+ve or -ve) integer or float is called as compex

cmplx1 = 2 + 3j
print(cmplx1)
print(type(cmplx1))

cmplx1 = -2 - 3j
print(cmplx1)
print(type(cmplx1))

(2+3j)
<class 'complex'>
(-2-3j)
<class 'complex'>

In [ ]:
# Boolean : True and False

bool1 = True
print(bool1)
print(type(bool1))

bool1 = False
print(bool1)
print(type(bool1))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
# String
# any combination inside single quotes
# any combination inside double quotes
# any combination inside triple single quotes
# any combination inside triple doublr quotes


str1 = 'Python Programming'
print(str1)
print(type(str1))

str1 = "Python Programming"
print(str1)
print(type(str1))

str1 = '''Python Programming'''
print(str1)
print(type(str1))

str1 = """Python Programming"""
print(str1)
print(type(str1))

Python Programming
<class 'str'>
Python Programming
<class 'str'>
Python Programming
<class 'str'>
Python Programming
<class 'str'>

In [ ]:

str1 = '!@#$%^&*()'
print(str1)
print(type(str1))

str1 = "QW#%$&*(*))_+YIINK:"
print(str1)
print(type(str1))

str1 = '''Lion Tiger'''
print(str1)
print(type(str1))

str1 = """Python Programming"""
print(str1)
print(type(str1))

!@#$%^&*()
<class 'str'>
QW#%$&*(*))_+YIINK:
<class 'str'>
Lion Tiger
<class 'str'>
Python Programming
<class 'str'>

In [ ]:
str1 = """My name is "Anuurag A Edlabadkar". I live in 'Pune'."""
print(str1)
print(type(str1))

str1 = '''My name is "Anuurag A Edlabadkar". I live in 'Pune'.'''
print(str1)
print(type(str1))

My name is "Anuurag A Edlabadkar". I live in 'Pune'.
<class 'str'>
My name is "Anuurag A Edlabadkar". I live in 'Pune'.
<class 'str'>

In [ ]:
# List
# 1. List is represented by square bracket []
# 2. List is mutable



lst1 = [12,23,34,45,56,67,78,89,90]
print(lst1)
print(type(lst1))

[12, 23, 34, 45, 56, 67, 78, 89, 90]
<class 'list'>

In [ ]:
# Tuple
# 1. Tuple is represented by circular bracket ()
# 2. Tuple is immutable



tup1 = (1,2,3,4,5,6,7,8,9)
print(tup1)
print(type(tup1))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [ ]:
# Set
# 1. Set is combination of unique values
# 2. Set is collection of unordered element
# 3. Set is represented by curly brackets
# 4. Set is mutable

set1 = {'a','b','c','D','E','F',1,2,3,'!','@','#','a','b','c','D','E','F',1,2,3,'!','@','#',}
print(set1)
print(type(set1))

{1, 2, '#', 3, 'b', 'c', 'a', 'F', '!', '@', 'E', 'D'}
<class 'set'>

In [ ]:
set1 = {True, False, 'a','b','c','D','E','F',0,1,2,3,'!','@','#', 'True','False'}
print(set1)
print(type(set1))

{False, True, 2, 3, '#', 'b', 'c', 'a', 'F', '!', 'True', '@', 'E', 'D', 'False'}
<class 'set'>

In [ ]:
dict1 = {'a':'apple',
         'b':'banana',
         'c':'cherries'}

In [ ]:
print(dict1)
print(type(dict1))

{'a': 'apple', 'b': 'banana', 'c': 'cherries'}
<class 'dict'>