In [ ]:
#set inbuilt functions

In [12]:
# Adding elements to set
set_1 = {1, 2, 3}
set_1.add(4)

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union of two sets
union = set1.union(set2)

# Intersection of two sets
intersection = set1.intersection(set2)

# Difference between two sets
difference = set1.difference(set2)

# Check if a set is a subset of another
is_subset = set1.issubset(set2)

# Check if a set is a superset of another
is_superset = set1.issuperset(set2)

# Check for disjoint sets (no common elements)
is_disjoint = set1.isdisjoint(set2)

# Check if an element is in the set
contains = 3 in set1

In [ ]:
my_set = {1, 2, 3}

# Length of the set
length = len(my_set)

# Check if an element is in the set
contains = 2 in my_set

In [ ]:
my_set = {1, 2, 3}

# Convert set to list
set_to_list = list(my_set)

# Convert set to tuple
set_to_tuple = tuple(my_set)